section.hero {
    margin-top: 26px;
    padding: 5px 90px;
}

section.hero>.slider-container {
    position: relative;
    z-index: 50;
}

.slider-container>.mySlides {
    display: none;
}

.mySlides>img {
    height: 75vh;
    object-fit: cover;
    border-radius: 10px;
}

.mySlides .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15vw;
}

.content>h2,
.content>p {
    color: #fff;
    line-height: 1.3;
}

.content>h2 {
    font-weight: 700;
    font-size: 45px;
    max-width: max(30vw, 300px);
    margin: 13px 0;
}

.content>p {
    font-size: 16px;
    font-weight: 500;
}

.slider-container>.prev,
.slider-container>.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px 8px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slider-container>.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-container>.prev:hover,
.slider-container>.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

section.hero>.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    padding: 25px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.14);
    transform: translateY(-50%);
    min-width: 880px;
    max-width: 85%;
}


.form-container>.input-box {
    display: flex;
}

.input-box>.icon {
    margin-right: 30px;
}

.input-box>label {
    position: relative;
    cursor: pointer;
}

.input-box:not(:last-of-type)>label::after {
    content: '';
    position: absolute;
    height: 28px;
    border: 1px solid #37373799;
    right: -40px;
    top: calc(50% - 14px);
    pointer-events: none;
}

label .title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
}

label .subtitle {
    color: rgba(55, 55, 55, 0.38);
    font-size: 12px;
    font-weight: 500;
}

label>input {
    outline: 0;
    padding: .75rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

label>input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.form-container>a.btn {
    padding: 20px 42px;
}

section.about {
    display: flex;
    margin-top: -60px;
    padding: 164px 90px;
    background: linear-gradient(145deg, rgba(0, 97, 77, 0) 6%, rgba(0, 97, 78, .1) 15%, rgba(0, 97, 77, 0) 50%);
}

section.about>.image-container {
    margin-right: 65px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

section.about>.image-container>.image {
    border-radius: 10px;
    height: 273px;
    width: 269px;
    overflow: hidden;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.14);
}

section.about>.image-container img {
    height: 275px;
    width: 275px;
}

section.about>.section-content {
    flex: 1;
    padding: 10px;
}

section h3.section-heading {
    font-size: 35px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
}

section h3.section-heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 31px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2px;
}

.section-content>.section-text {
    margin: 42px 0;
}

section p.section-text {
    font-size: 16px;
    line-height: 1.9;
}

.section-content>.section-buttons {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 20px;
}

.section-content>.section-buttons>.btn {
    padding: 14px 24px;
    border-radius: 5px;
}

section.experience {
    margin: 35px 90px 176px;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section.experience::before {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    height: 400px;
    width: 100%;
    left: 0;
    transform: translateY(50%);
    z-index: -1;
}

section.experience>.image-container {
    position: relative;
    width: 585px;
    height: 447px;
}

section.experience>.image-container>img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

section.experience>.image-container>.image-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    padding: 0 120px;
}

section.experience>.text-container {
    padding: 0 60px;
}

section>.section-header {
    display: flex;
    align-items: center;
}

.section-header>.section-heading {
    flex: 1;
    margin: 0 20px 10px;
}

.section-header>.btn {
    padding: 10px 16px;
    border-radius: 5px;
}

section.packages {
    background-image: url(assets/images/packages-bg.svg);
}

section>.section-text {
    padding: 50px 0;
}

.cards-container {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}

.cards-container>.card {
    max-width: 400px;
}

.card>.card-image {
    overflow: hidden;
    border-radius: 5px;
}

.card-image>img {
    width: 100%;
    /* height: 288px; */
}

.card>.card-title {
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
}

.card>.card-text {
    margin: 10px 0 35px;
    font-size: clamp(12px, 1.8vw, 16px);
    line-height: 1.9;
}

.card>.btn {
    padding: 13px 45px;
}

section.gallery>.gallery-container,
section.facilities>.facilities-container {
    margin: 70px -90px 0;
    padding: 0px 90px;
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
}

section.gallery>.gallery-container::-webkit-scrollbar,
section.facilities>.facilities-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

section.gallery>.gallery-container img {
    border-radius: 10px;
}

section.awards>.awards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 0;
    padding: 20px 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
}

section.facilities .facility {
    position: relative;
}

section.facilities .facility>.facility-text {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 17px;
    color: #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00614D 100%);
    ;
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: default;
}

section.facilities .btn-scroll {
    margin: 0 5px;
}

section.testimonials>.testimonial-container {
    margin: 50px 0;
}

.testimonial-container>input {
    display: none;
}

.pages-container>.page {
    display: none;
    grid-auto-flow: column;
    gap: 40px;
    justify-content: center;
}

input#page-1:checked~.pages-container .page-1,
input#page-2:checked~.pages-container .page-2,
input#page-3:checked~.pages-container .page-3 {
    display: grid;
}

.page>.testimonial {
    padding: clamp(6px,2vw,22px);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    max-width: 300px;
    transition: transform 200ms linear;
    cursor: default;
}

.page>.testimonial:hover {
    transform: translateY(-4px);
}

.testimonial>.image {
    grid-area: photo;
    border-radius: 50%;
}

.testimonial>.name {
    grid-area: name;
    margin: 32px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.testimonial>.text {
    grid-area: text;
    margin: 5px 0 14px;
    font-size: clamp(12px, 2vw, 16px);
    line-height: 1.9;
}

.testimonial-container>.buttons-container {
    padding: 40px;
    margin: -170px 0 -100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secondary);
    border-radius: 10px;
    height: 250px;
}

.buttons-container>label {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 9px;
    background-color: #C4C4C44D;
    cursor: pointer;
    transition: transform 100ms linear;
}

.buttons-container>label:hover {
    transform: scale(1.2);
}

input#page-1:checked~.buttons-container label[for="page-1"],
input#page-2:checked~.buttons-container label[for="page-2"],
input#page-3:checked~.buttons-container label[for="page-3"] {
    background-color: var(--primary);
    transform: scale(1.1);
}

section.blogs>.cards-container {
    margin: 80px 0 32px;
}

section.doctor {
    margin: 40px 90px;
    padding: 76px 76px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
    background: url(assets/images/doctor-bg.svg) no-repeat 100% 100%;
    display: flex;
}

section.doctor>.doctor-container {
    margin: 0 150px 76px 0;
}

.doctor-container>.title {
    font-size: 42px;
    font-weight: 700;
}

.doctor-container>.text {
    font-size: 16px;
    line-height: 1.9;
    margin: 25px 0 50px;
}