.healing {
    margin: 70px 90px;
    padding: 80px;
    padding-right: 30vw;
    background: url(../assets/images/about_healing.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.healing>.heading {
    color: #fff;
}

.healing>.heading::after {
    background-color: #fff;
    border-color: #fff;
    width: 90px;
    border-width: 1px;
}

.healing>.text {
    margin-top: 50px;
    color: #fff;
}

section.cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

section.cards-container::before {
    position: absolute;
    content: '';
    background: url(../assets/images/packages-bg.svg);
    transform: translateY(-250px);
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

section.cards-container>.card {
    padding: 40px 40px 0px;
    border: 1px solid rgba(0, 97, 77, 0.25);
    border-radius: 10px;
    background-color: #fff;
}

section.cards-container>.card>.card-text {
    margin-top: 15px;
    line-height: 1.6;
}

.awards-container {
    margin: 90px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 30px;
    justify-content: space-evenly;
}

.awards-container>.award {
    background-color: #fff;
    box-shadow: var(--shadow1);
    border-radius: 10px;
    display: grid;
}

section .award>img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}