section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.booking {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.booking>.details-container {
    flex: 4;
    min-width: 50vw;
    padding: clamp(14px, 3vw, 35px);
    background-color: var(--secondary);
    border-radius: 10px;
}

.detail-form {
    margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(49%, 300px));
    justify-content: start;
    gap: 30px 10px;
}

.detail-form .detail-input {
    align-items: end;
    display: grid;
    gap: 10px;
    grid-template-rows: .1fr 1fr;
}
.detail-input label{
    font-weight: 500;
}

.detail-input input {
    font-size: 16px;
    padding: 14px 21px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(55, 55, 55, 0.13);
}

.detail-input .btn {
    width: 200px;
    justify-content: center;
}

.detail-input .btn.disabled {
    background-color: #00614DCC;
    border-color: #00614DCC;
    pointer-events: none;
}

.booking-box {
    margin: 0 auto;
    position: relative;
    position: unset;
}

.booking-box .cottage-basics {
    display: flex;
}

.booking-box .cottage-basics .text {
    margin-top: 13px;
    line-height: 1.3;
}

.booking-box .cottage-basics img {
    width: 153px;
    height: 144px;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
}

.booking-box .btn {
    margin-top: 0;
}