.awards-container {
    margin: 90px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 30px;
    justify-content: space-evenly;
}

.awards-container>.award {
    background-color: #fff;
    box-shadow: var(--shadow1);
    border-radius: 10px;
    display: grid;
}

section .award>img {
    padding: 30px;
    height: 180px;
    border-radius: 10px;
}