:root {
    --primary: #00614D;
    --secondary: #F2F7F6;
    --text: #373737CC;
    --text-dark: #373737;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-dark);
}

p,
a,
.text,
.card-text,
.card-content,
label {
    color: var(--text);
}

a:not(.btn):hover {
    color: var(--text-dark);
}

.btn {
    background-color: var(--primary);
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: var(--primary);
}