:root {
    --primary: #00614D;
    --secondary: #F2F7F6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #373737;
}

p,
a {
    color: #373737CC;
}

a:not(.btn):hover {
    color: #373737;
}

.btn {
    background-color: var(--primary);
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    color: var(--primary);
}