.banner-container .card-simple {
    box-shadow: var(--shadow2);
}

.banner-container .card-content {
    padding: var(--clamp20) clamp(20px, 5vw, 90px);
}

.card-simple {
    position: relative;
}
.event-date {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 8px 24px 10px;
    font-size: clamp(10px, .8vw, 14px);
    font-weight: 500;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
}

.events.card-simple-container {
    grid-template-columns: repeat(auto-fill, min(320px, 100%));
}
