/* Temporarily Hidden */
section.blogs,
section.testimonials {
    display: none;
}

.card-content .price {
    visibility: hidden;
}

.booking-container>.booking-box :is(.price, .total) {
    display: none;
}

/* General */
:root {
    --shadow1: 0px 0px 70px rgba(0, 0, 0, 0.1);
    --shadow2: 0px 5px 70px rgba(0, 0, 0, 0.15);
    --clamp16: clamp(13px, 2vw, 16px);
    --clamp20: clamp(10px, 2vw, 20px);
    --clamp30: clamp(10px, 2vw, 30px);
    --clamp60: clamp(20px, 5vw, 60px);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: var(--clamp16);
    font-weight: 400;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.text,
.card-text {
    line-height: 1.9;
    font-weight: 400;
}

a {
    font-size: 14px;
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 15px 20px;
    font-weight: 500;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.btn>.btn-icon {
    margin-left: 7px;
}

.btn-scroll.hide {
    opacity: 0.5;
    pointer-events: none;
}

.dots::before,
.dots::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 145px;
    height: 125px;
    background: url(../assets/images/dots.svg) no-repeat;
}

.dots:nth-child(3n+1)::before {
    top: -30px;
    left: -32px;
}

.dots:nth-child(3n+1)::after {
    right: -50px;
    top: 50%;
}

.dots:nth-child(3n+2):before {
    top: -30px;
    right: 20px;
}

.dots:nth-child(3n+2):after {
    left: 80px;
    bottom: -30px;
}

.dots:nth-child(3n+3):before {
    top: -30px;
    right: -40px;
}

.dots:nth-child(3n+3):after {
    background: none;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
}

.input-row input,
.input-row textarea {
    flex: 1;
    margin: var(--clamp20) 0;
    padding: 14px 20px;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: var(--clamp16);
    line-height: 1.3;
    border-radius: 10px;
}

.input-row input::placeholder,
.input-row textarea::placeholder {
    color: #37373766;
}

/* dropdown */

li.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    top: 40px;
    left: -15px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content>.droplink {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content>.droplink:hover {
    background-color: #f1f1f1;
    color: var(--primary);
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 90px 10px;
    position: sticky;
    top: -26px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0);
    border-radius: 0 0 10px 10px;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}

header[stuck] {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 16px -16px;
}

header>nav.desktop {
    flex: 1;
}

header .desktop>.header-items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 50px;
}

header .desktop>.header-items>li {
    padding: 12px 0;
}

header nav .active {
    font-weight: 600;
    position: relative;
}

header nav .active::after {
    content: '';
    position: absolute;
    width: 27px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    left: 0;
    bottom: -10px;
}

header>nav.mobile {
    display: none;
    margin-left: auto;
}

.mobile>.btn-open {
    margin: 0 20px;
}

#mobile-nav {
    position: fixed;
    z-index: 5000;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    list-style-type: none;
    text-align: right;
    background-color: #ffffffaa;
    backdrop-filter: blur(10px);
    transition: width 300ms ease;
}

#mobile-nav>li {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.btn-close {
    font-size: 40px;
    color: var(--primary);
}

section {
    padding: 75px 90px;
}

/* Video Container */

.video-container {
    margin: auto;
    padding: 10px;
    width: max(400px, 80%);
    /* aspect-ratio: 16 / 9; */
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.video-container::backdrop {
    background-color: #000;
    opacity: 0.5;
}

.video-container>button {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    padding: 6px 11px;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

.video-container video {
    border-radius: 10px;
    width: 100%;
    height: 99%;
}

/* Hero Section */

.page-hero {
    padding: 50px 90px;
    margin-top: 25px;
    background: linear-gradient(0deg, #fff 30%, var(--secondary) 30%);
    display: grid;
    text-align: center;
    justify-items: center;
}

.page-hero>.title {
    margin: 13px;
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 700;
    line-height: 1.35;
    color: var(--primary);
}

.page-hero>.text {
    max-width: 850px;
    text-align: center;
}

.page-hero>.image {
    margin-top: 35px;
}

.page-hero>.image>img {
    border-radius: 10px;
    width: min(860px, 80vw);
}

.section-header {
    display: flex;
    align-items: center;
}

.section-header>.heading {
    flex: 1;
    margin: 0 20px 10px;
}

.section-header>.btn {
    padding: 10px 16px;
    border-radius: 5px;
}

h3.heading {
    font-size: clamp(26px, 3vw, 35px);
    font-weight: 600;
    font-weight: 1.9;
    position: relative;
    margin-bottom: 10px;
}

h3.heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 31px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2px;
}

/* Page Title */

.page-title {
    padding: 10px 90px;
    display: grid;
    justify-items: center;
    text-align: center;
}

.page-title>h3.heading::after {
    width: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.page-title>p.text {
    margin-top: var(--clamp60);
    width: min(1000px, 90%);
}

/* Card */

.cards-container {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card>.card-image {
    overflow: hidden;
    border-radius: 5px;
}

.card-image>img {
    width: 100%;
    border-radius: 5px;
}

.card>.card-title {
    margin-top: 15px;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 22px);
}

.card>.card-text {
    margin: 10px 0 35px;
    line-height: 1.9;
}

.card>.btn {
    padding: 13px 45px;
    width: fit-content;
    height: fit-content;
    margin-top: auto;
}

/* Simple Card */

.card-simple-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(400px, 45%));
    gap: var(--clamp30);
    justify-content: center;
}

.card-simple {
    background-color: var(--secondary);
    border-radius: 10px;
}

.card-simple>.image {
    border-radius: 10px;
    overflow: hidden;
}

.card-simple>.image>img {
    border-radius: 10px;
    width: 100%;
}

.card-simple>.title,
.card-simple>.text {
    padding: 0 var(--clamp20);
    margin: clamp(5px, 1vw, 15px) 0;
}

/* Wide Card */

.card-wide {
    display: flex;
    box-shadow: var(--shadow1);
    border-radius: 10px;
    margin: 50px 0;
    position: relative;
    background-color: #fff;
}

.card-wide>.card-image {
    flex: 3;
    overflow: hidden;
    border-radius: 10px;
    max-height: 450px;
}

.card-wide>.card-image>img {
    width: min(90vw, 450px);
    border-radius: 10px;
    object-fit: cover;
}

.card-wide>.card-content {
    flex: 4;
    padding: clamp(10px, 4vw, 50px) clamp(20px, 5vw, 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-wide>.card-content>ul {
    list-style-type: none;
    margin: 10px 0;
    max-height: 230px;
    overflow-y: auto;
    width: 100%;
}

.card-content>ul::-webkit-scrollbar {
    width: 7px;
}

.card-content>ul::-webkit-scrollbar-track {
    background: #3737371C;
    border-radius: 10px;
}

.card-content>ul::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

.card-content li {
    margin: 10px 0 30px;
}

.card-content li::before {
    content: '';
    background: url(../assets/icons/card-list.svg) no-repeat 50% 50%;
    padding: 2px 12px;
    margin-right: 20px;
}

.card-content .btn {
    padding: 15px 25px;
    border-color: #00614D33;
}

/* Search Container (Book Now) */

section>.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    padding: 25px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow2);
    transform: translateY(-50%);
    min-width: 880px;
    max-width: 85%;
}

.search-container>.input-box {
    display: flex;
}

.input-box>.icon {
    margin-right: 15px;
}

.input-box>label {
    padding-left: 15px;
    position: relative;
    cursor: pointer;
}

section.hero .input-box:not(:last-of-type)>label::after {
    /* Only for Home Page */
    content: '';
    position: absolute;
    height: 28px;
    border: 1px solid var(--text);
    background-color: var(--text);
    right: -40px;
    top: calc(50% - 14px);
    pointer-events: none;
}

.input-box>label .title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
}

.input-box>label .subtitle {
    color: rgba(55, 55, 55, 0.38);
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.input-box>label>input {
    outline: 0;
    padding: .75rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.input-box>label>input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.search-container>a.btn {
    padding: 20px 42px;
    justify-content: center;
    text-align: center;
}

/* Testimonials */

section.testimonials>.testimonial-container {
    margin: 50px 0;
}

.testimonial-container>input {
    display: none;
}

.pages-container>.page {
    display: none;
    grid-auto-flow: column;
    gap: 40px;
    justify-content: center;
}

input#page-1:checked~.pages-container .page-1,
input#page-2:checked~.pages-container .page-2,
input#page-3:checked~.pages-container .page-3 {
    display: grid;
}

.page>.testimonial {
    padding: clamp(6px, 2vw, 22px);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    max-width: 300px;
    transition: transform 200ms linear;
    cursor: default;
}

.page>.testimonial:hover {
    transform: translateY(-4px);
}

.testimonial>.image {
    grid-area: photo;
    border-radius: 50%;
}

.testimonial>.image>img {
    width: 121px;
}

.testimonial>.name {
    grid-area: name;
    margin: 32px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.testimonial>.text {
    grid-area: text;
    margin: 5px 0 14px;
    line-height: 1.9;
}

.testimonial-container>.buttons-container {
    padding: 40px;
    margin: -170px 0 -100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secondary);
    border-radius: 10px;
    height: 250px;
}

.buttons-container>label {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 9px;
    background-color: #C4C4C44D;
    cursor: pointer;
    transition: transform 100ms linear;
}

.buttons-container>label:hover {
    transform: scale(1.2);
}

input#page-1:checked~.buttons-container label[for="page-1"],
input#page-2:checked~.buttons-container label[for="page-2"],
input#page-3:checked~.buttons-container label[for="page-3"] {
    background-color: var(--primary);
    transform: scale(1.1);
}

section.blogs>.cards-container {
    margin: 80px 0 32px;
}

section.doctor {
    margin: 40px 90px;
    border-radius: 10px;
    box-shadow: var(--shadow2);
    background: url(../assets/images/doctor-bg.svg) no-repeat;
    background-color: #e1d1bf;
    background-size: cover;
    display: flex;
}

section.doctor>.doctor-container {
    width: min(600px, 100%);
}

.doctor-container>.title {
    font-size: clamp(32px, 4vw, 42px);
    font-weight: 700;
    color: #375811;
}

.doctor-container>.text {
    line-height: 1.9;
    margin: 25px 0 50px;
}

.doctor-container>.btn {
    background-color: #FFC600;
    border-color: #FFC600;
    color: var(--text-dark);
    font-weight: 600;
}

/* Newsletter */

.newsletter {
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
}

.newsletter>.content {
    flex: 1;
}

.newsletter>.content>.text {
    width: 50%;
    margin-top: 30px;
}

.newsletter>.form {
    flex: 1;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.newsletter>.form>input {
    padding: 20px 35px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 0px 30px 1px rgba(0, 0, 0, 0.05);
}

.newsletter>.form>.btn {
    margin-left: -10px;
    padding: 20px;
}

/* booking form */

.booking-container {
    flex: 3;

    --date1: '1 Mar 2022';
    --date2: '8 Mar 2022';
}

.booking-box {
    width: min(460px, 100%);
    margin: 20px auto 0;
    padding: clamp(14px, 3vw, 35px);
    background-color: var(--secondary);
    border-radius: 10px;
    position: sticky;
    top: 90px;
}

.booking-container .price {
    display: flex;
    grid-area: price;
    align-self: end;
    align-items: end;
    margin-bottom: 30px;
}

.booking-container .price>.current-price {
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
    color: var(--primary);
    position: relative;
}

.booking-container .price>.current-price::after {
    content: 'per night';
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    bottom: -7px;
    right: 0;
    color: var(--text);
}

.booking-container .price>.current-price>span {
    font-weight: 500;
}

.booking-container .price>.old-price {
    line-height: 1.7;
    margin-left: 4px;
}

.booking-container .price>.old-price>span {
    text-decoration: line-through;
}

.booking-container .price>.percentage {
    line-height: 1.7;
    margin-left: 10px;
    font-weight: 500;
    color: #FF9A03;
}

.booking-container .input-row {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid rgba(55, 55, 55, 0.13);
}

.booking-container .input-row>input {
    width: 100%;
    margin: 0;
    padding: 14px 0 14px clamp(0px, 2vw, 16px);
}

.booking-container .input-row>input[type="date"] {
    background-color: #fff;
    color: #fff;
}

.booking-container .input-row>input[type="date"]::before {
    position: absolute;
    pointer-events: none;
    color: var(--text-dark);
}

.booking-container .input-row>input#checkin::before {
    content: var(--date1);
}

.booking-container .input-row>input#checkout::before {
    content: var(--date2);
}

.booking-container .input-row>input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    background: #fff;
}

.booking-container .input-row>input#guests {
    width: 85px;
    background: url(../assets/icons/user.svg) no-repeat 16px 47%;
    background-size: 18px;
    padding-left: 38px;
}

.booking-container .input-row>hr {
    content: '';
    height: 16px;
    width: 1px;
    background-color: var(--text);
    opacity: 0.5;
    border: none;
    pointer-events: none;
    margin: auto 0;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 26px 0;

}

.total>.title {
    position: relative;
}

.tax>.title::after {
    position: absolute;
    content: 'Inc. all taxes';
    right: 0;
    bottom: -5px;
    font-size: 8px;
}

.total>.amount {
    font-size: 18px;
}

.total>.amount>span {
    font-weight: 600;
}

.booking-container .btn {
    margin-top: 26px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* Footer */

footer {
    --border: 1px solid #00614D1A;
}

.general .footer-top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: .8fr .6fr 1fr;
    grid-template-areas:
        "basic location"
        "basic contact"
        "links contact"
    ;
}

.general .details-basic {
    grid-area: basic;
    padding: 70px 38px 38px 90px;
    border-bottom: var(--border);
    border-right: var(--border);
    display: flex;
}

.general .details-basic>p {
    margin-left: 40px;
    /* font-size: 14px; */
    line-height: 1.3;
}

.general .details-contact {
    grid-area: contact;
    padding: 20px 90px;
    border-bottom: var(--border);
}

.general .footer-links {
    grid-area: links;
    padding-left: 90px;
    border-bottom: var(--border);
    border-right: var(--border);
    display: grid;
    place-content: center;
    align-items: center;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
}

.general .footer-location {
    grid-area: location;
    padding: 70px 90px 0 90px;
    line-height: 1.5;
}

.general .footer-location>img {
    margin-top: 50px;
    max-width: 100%;
}

.general .details-contact>.btn-contact {
    display: flex;
    align-items: center;
    margin: 11px 0;
}

.general .btn-contact>.btn-text {
    margin: 0 12px;
    font-size: var(--clamp16);
}

.general .social-container {
    margin-top: 30px;
}

.general .social-container>.btn-social {
    margin-right: 23px;
}

.general .footer-bottom {
    padding: 30px 90px;
    color: var(--text-dark);
}

#enquire-now {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    background-color: #00614D;
    width: 70px;
    height: 70px;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 15px;
}

#enquire-now svg {
    transition: opacity 300ms ease;
}

#enquire-now .enquire-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-40%);
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 300ms ease;
}

#enquire-now:hover svg {
    opacity: 0;
}

#enquire-now:hover .enquire-text {
    opacity: 1;
}

.whatsapp-ico {
    fill: white;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.whatsapp-ico:hover {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}