*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    /* font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    padding: 15px 20px;
    font-weight: 500;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.btn>.btn-icon {
    margin-left: 7px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 90px;
}

header>nav {
    flex: 1;
}

header .desktop>.header-items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 50px;
}

header>nav.mobile {
    position: relative;
    text-align: right;
    display: none;
}

.mobile>img {
    margin: 0 20px;
}

header .mobile>.header-items {
    display: none;
    list-style-type: none;
    position: absolute;
    z-index: 1000;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

section {
    padding: 75px 90px;
}

footer {
    /* padding: 90px 90px 0; */
    --border: 1px solid #00614D1A;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr .4fr;
    grid-template-areas:
        "basic contact location location"
        "links links location location";
}

.details-basic {
    grid-area: basic;
    padding: 70px 38px 38px 90px;
    border-bottom: var(--border);
}

.details-basic>p {
    margin-top: 30pxzz;
}

.details-contact {
    grid-area: contact;
    padding: 70px 38px 38px 0;
    border-bottom: var(--border);
    border-right: var(--border);
}

.footer-links {
    grid-area: links;
    padding-left: 90px;
    border-bottom: var(--border);
    border-right: var(--border);
    display: grid;
    place-content: center;
    align-items: center;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
}

.footer-location {
    grid-area: location;
    border-bottom: var(--border);
    padding: 70px 90px;
    font-size: 16px;
    line-height: 1.5;
}

.footer-location>img {
    margin-top: 50px;
}

.details-contact>.btn-contact {
    display: flex;
    align-items: center;
    margin: 11px 0;
}

.btn-contact>.btn-text {
    margin: 0 12px;
    font-size: 16px;
}

.social-container {
    margin-top: 22px;
}

.social-container>.btn-social {
    margin-right: 23px;
}

.footer-bottom {
    font-size: 16px;
    padding: 30px 90px;
    color: #373737CC;
}