*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    /* font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    padding: 15px 20px;
    font-weight: 500;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.btn>.btn-icon {
    margin-left: 7px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 90px;
}

header>nav {
    flex: 1;
}

header .header-items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 50px;
}
section{
    padding: 75px 90px;
}