*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.text,
.card-text {
    font-size: clamp(13px, 2vw, 16px);
    line-height: 1.9;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 15px 20px;
    font-weight: 500;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.btn>.btn-icon {
    margin-left: 7px;
}

.dots::before,
.dots::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 145px;
    height: 125px;
    background: url(../assets/images/dots.svg) no-repeat;
}

.dots:nth-child(3n+1)::before {
    top: -30px;
    left: -32px;
}

.dots:nth-child(3n+1)::after {
    right: -50px;
    top: 50%;
}

.dots:nth-child(3n+2):before {
    top: -30px;
    right: 20px;
}

.dots:nth-child(3n+2):after {
    left: 80px;
    bottom: -30px;
}

.dots:nth-child(3n+3):before {
    top: -30px;
    right: -40px;
}

.dots:nth-child(3n+3):after {
    background: none;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
}

.input-row input,
.input-row textarea {
    flex: 1;
    margin: clamp(10px, 2vw, 20px) 0;
    padding: 14px 20px;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    border-radius: 10px;
}

.input-row input::placeholder,
.input-row textarea::placeholder {
    color: #37373766;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 90px 10px;
    position: sticky;
    top: -26px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

header[stuck] {
    box-shadow: 0 5px 16px -16px;
}

header>nav.desktop {
    flex: 1;
}

header .desktop>.header-items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 50px;
}

header nav .active {
    font-weight: 600;
    position: relative;
}

header nav .active::after {
    content: '';
    position: absolute;
    width: 27px;
    border: 1px solid var(--primary);
    left: 0;
    bottom: -10px;
}

header>nav.mobile {
    display: none;
    margin-left: auto;
}

.mobile>.btn-open {
    margin: 0 20px;
}

#mobile-nav {
    position: fixed;
    z-index: 5000;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    list-style-type: none;
    text-align: right;
    background-color: #ffffffaa;
    backdrop-filter: blur(10px);
    transition: width 300ms ease;
}

#mobile-nav>li {
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.btn-close {
    font-size: 40px;
    color: var(--primary);
}

section {
    padding: 75px 90px;
}

/* Hero Section */

.page-hero {
    padding: 50px 90px;
    margin-top: 25px;
    background: linear-gradient(0deg, #fff 30%, var(--secondary) 30%);
    display: grid;
    text-align: center;
    justify-items: center;
}

.page-hero>.title {
    margin: 13px;
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 700;
    line-height: 1.35;
    color: var(--primary);
}

.page-hero>.text {
    max-width: 850px;
    text-align: center;
}

.page-hero>.image {
    margin-top: 35px;
}

.page-hero>.image>img {
    border-radius: 10px;
    width: min(860px, 80vw);
}

.section-header {
    display: flex;
    align-items: center;
}

.section-header>.heading {
    flex: 1;
    margin: 0 20px 10px;
}

.section-header>.btn {
    padding: 10px 16px;
    border-radius: 5px;
}

h3.heading {
    font-size: clamp(26px, 3vw, 35px);
    font-weight: 600;
    font-weight: 1.9;
    position: relative;
    margin-bottom: 10px;
}

h3.heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 31px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    border-radius: 2px;
}

/* Page Title */

.page-title {
    padding: 10px 90px;
    display: grid;
    justify-items: center;
    text-align: center;
}

.page-title>h3.heading::after {
    width: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.page-title>p.text {
    margin-top: clamp(20px, 5vw, 60px);
    width: min(1000px, 90%);
}

/* Card */

.cards-container {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}

.card>.card-image {
    overflow: hidden;
    border-radius: 5px;
}

.card-image>img {
    width: 100%;
    border-radius: 5px;
}

.card>.card-title {
    margin-top: 15px;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 22px);
}

.card>.card-text {
    margin: 10px 0 35px;
    line-height: 1.9;
}

.card>.btn {
    padding: 13px 45px;
}

/* Simple Card */

.card-simple-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(400px, 45%));
    gap: clamp(10px, 2vw, 30px);
    justify-content: center;
}

.card-simple {
    background-color: var(--secondary);
    border-radius: 10px;
}

.card-simple>.image {
    border-radius: 10px;
    overflow: hidden;
}

.card-simple>.image>img {
    border-radius: 10px;
    width: 100%;
}

.card-simple>.title,
.card-simple>.text {
    padding: 0 clamp(10px, 2vw, 20px);
    margin: clamp(5px, 1vw, 15px) 0;
}

/* Wide Card */

.card-wide {
    display: flex;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px 0;
    position: relative;
    background-color: #fff;
}

.card-wide>.card-image {
    flex: 3;
    overflow: hidden;
    border-radius: 10px;
    max-height: 450px;
}

.card-wide>.card-image>img {
    width: min(90vw, 450px);
    border-radius: 10px;
    object-fit: cover;
}

.card-wide>.card-content {
    flex: 4;
    padding: clamp(10px, 4vw, 50px) clamp(20px, 5vw, 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-wide>.card-content>ul {
    list-style-type: none;
    margin: 10px 0;
    max-height: 230px;
    overflow-y: auto;
    width: 100%;
}

.card-content>ul::-webkit-scrollbar {
    width: 7px;
}

.card-content>ul::-webkit-scrollbar-track {
    background: #3737371C;
    border-radius: 10px;
}

.card-content>ul::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

.card-content li {
    margin: 10px 0 30px;
}

.card-content li::before {
    content: '';
    background: url(../assets/icons/card-list.svg) no-repeat 50% 50%;
    padding: 2px 12px;
    margin-right: 20px;
}

.card-content .btn {
    padding: 15px 25px;
    border-color: #00614D33;
}

/* Search Container (Book Now) */

section>.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    padding: 25px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.14);
    transform: translateY(-50%);
    min-width: 880px;
    max-width: 85%;
}

.search-container>.input-box {
    display: flex;
}

.input-box>.icon {
    margin-right: 15px;
}

.input-box>label {
    padding-left: 15px;
    position: relative;
    cursor: pointer;
}

section.hero .input-box:not(:last-of-type)>label::after { 
    /* Only for Home Page */
    content: '';
    position: absolute;
    height: 28px;
    border: 1px solid var(--text);
    right: -40px;
    top: calc(50% - 14px);
    pointer-events: none;
}

.input-box>label .title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
}

.input-box>label .subtitle {
    color: rgba(55, 55, 55, 0.38);
    font-size: 12px;
    font-weight: 500;
}

.input-box>label>input {
    outline: 0;
    padding: .75rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.input-box>label>input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.search-container>a.btn {
    padding: 20px 42px;
}

/* Testimonials */

section.testimonials>.testimonial-container {
    margin: 50px 0;
}

.testimonial-container>input {
    display: none;
}

.pages-container>.page {
    display: none;
    grid-auto-flow: column;
    gap: 40px;
    justify-content: center;
}

input#page-1:checked~.pages-container .page-1,
input#page-2:checked~.pages-container .page-2,
input#page-3:checked~.pages-container .page-3 {
    display: grid;
}

.page>.testimonial {
    padding: clamp(6px, 2vw, 22px);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    max-width: 300px;
    transition: transform 200ms linear;
    cursor: default;
}

.page>.testimonial:hover {
    transform: translateY(-4px);
}

.testimonial>.image {
    grid-area: photo;
    border-radius: 50%;
}

.testimonial>.image>img {
    width: 121px;
}

.testimonial>.name {
    grid-area: name;
    margin: 32px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.testimonial>.text {
    grid-area: text;
    margin: 5px 0 14px;
    line-height: 1.9;
}

.testimonial-container>.buttons-container {
    padding: 40px;
    margin: -170px 0 -100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secondary);
    border-radius: 10px;
    height: 250px;
}

.buttons-container>label {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 9px;
    background-color: #C4C4C44D;
    cursor: pointer;
    transition: transform 100ms linear;
}

.buttons-container>label:hover {
    transform: scale(1.2);
}

input#page-1:checked~.buttons-container label[for="page-1"],
input#page-2:checked~.buttons-container label[for="page-2"],
input#page-3:checked~.buttons-container label[for="page-3"] {
    background-color: var(--primary);
    transform: scale(1.1);
}

section.blogs>.cards-container {
    margin: 80px 0 32px;
}

section.doctor {
    margin: 40px 90px;
    padding: 76px 76px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
    background: url(../assets/images/doctor-bg.svg) no-repeat 100% 100%;
    display: flex;
}

section.doctor>.doctor-container {
    margin: 0 150px 76px 0;
}

.doctor-container>.title {
    font-size: clamp(32px, 4vw, 42px);
    font-weight: 700;
}

.doctor-container>.text {
    font-size: 16px;
    line-height: 1.9;
    margin: 25px 0 50px;
}

/* Newsletter */

.newsletter {
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
}

.newsletter>.content {
    flex: 1;
}

.newsletter>.content>.text {
    width: 50%;
    margin-top: 30px;
}

.newsletter>.form {
    flex: 1;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.newsletter>.form>input {
    padding: 20px 35px;
}

.newsletter>.form>.btn {
    margin-left: -10px;
    padding: 20px;
}

/* Footer */

footer {
    --border: 1px solid #00614D1A;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr .4fr;
    grid-template-areas:
        "basic contact location location"
        "links links location location";
}

.details-basic {
    grid-area: basic;
    padding: 70px 38px 38px 90px;
    border-bottom: var(--border);
}

.details-basic>p {
    margin-top: 30px;
}

.details-contact {
    grid-area: contact;
    padding: 70px 38px 38px 0;
    border-bottom: var(--border);
    border-right: var(--border);
}

.footer-links {
    grid-area: links;
    padding-left: 90px;
    border-bottom: var(--border);
    border-right: var(--border);
    display: grid;
    place-content: center;
    align-items: center;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
}

.footer-location {
    grid-area: location;
    border-bottom: var(--border);
    padding: 70px 90px;
    font-size: 16px;
    line-height: 1.5;
}

.footer-location>img {
    margin-top: 50px;
    max-width: 100%;
}

.details-contact>.btn-contact {
    display: flex;
    align-items: center;
    margin: 11px 0;
}

.btn-contact>.btn-text {
    margin: 0 12px;
    font-size: 16px;
}

.social-container {
    margin-top: 22px;
}

.social-container>.btn-social {
    margin-right: 23px;
}

.footer-bottom {
    font-size: 16px;
    padding: 30px 90px;
    color: var(--text-dark);
}