/* Hero Section */

section.hero {
    margin-top: 26px;
    padding: 5px 90px;
}

section.hero>.slider-container {
    position: relative;
    z-index: 50;
    overflow: hidden;
    border-radius: 10px;
}

.slider-container>.heroSlides {
    display: none;
}

.heroSlides>img {
    height: 75vh;
    object-fit: cover;
    border-radius: 10px;
}

.heroSlides .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 8vw;
}

.content.dark>h2,
.content.dark>p {
    color: #320605;
    line-height: 1.3;
}

.content>h2,
.content>p {
    color: #fff;
    line-height: 1.3;
}

.content>h2 {
    font-weight: 700;
    font-size: 45px;
    max-width: max(30vw, 300px);
    margin: 13px 0;
}

.content>p {
    font-weight: 500;
}

.slider-container>.prev,
.slider-container>.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px 8px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slider-container>.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-container>.prev:hover,
.slider-container>.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    0% {
        opacity: 0.2;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

/* Search Container */
section>.search-container {
    max-width: 78%;
}

/* About Section */

section.about {
    display: flex;
    margin-top: -60px;
    padding: 164px 90px;
    background: linear-gradient(145deg, rgba(0, 97, 77, 0) 6%, rgba(0, 97, 78, .1) 15%, rgba(0, 97, 77, 0) 50%);
}

section.about>.image-container {
    margin-right: 65px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

section.about>.image-container>.image {
    border-radius: 10px;
    height: 273px;
    width: 269px;
    overflow: hidden;
    box-shadow: var(--shadow1);
}

section.about>.image-container img {
    height: 275px;
    width: 275px;
}

section.about>.section-content {
    flex: 1;
    padding: 10px;
}

.section-content>.section-text {
    margin: 42px 0;
}

section p.section-text {
    line-height: 1.9;
}

.section-content>.section-buttons {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 20px;
}

.section-content>.section-buttons>.btn {
    padding: 14px 24px;
    border-radius: 5px;
}

section.experience {
    margin: 35px 90px 176px;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--shadow1);
    border-radius: 10px;
}

section.experience::before {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    height: 400px;
    width: 100%;
    left: 0;
    transform: translateY(50%);
    z-index: -1;
}

section.experience>.image-container {
    position: relative;
    width: 585px;
    height: 447px;
}

section.experience>.image-container>img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

section.experience>.image-container>.image-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    padding: 0 120px;
}

section.experience>.text-container {
    padding: 0 60px;
}

section.packages {
    background-image: url(../assets/images/packages-bg.svg);
}

section>.section-text {
    padding: 50px 0;
}

.gallery-container {
    margin: 70px -90px 0;
    padding: 0px 90px;
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallery-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

section.gallery>.gallery-container>.image,
section.gallery>.gallery-container img {
    border-radius: 10px;
    max-width: 80vw;
}

section.awards>.awards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 0;
    padding: 20px 70px;
    border-radius: 10px;
    box-shadow: var(--shadow1);
}

.cards-container.scroll {
    margin: 0 -90px;
    padding: 0 90px 45px;
    overflow-x: scroll;
}

section.packages>.cards-container.scroll {
    grid-template-columns: repeat(12, minmax(300px, 100%));
}

section.rooms>.cards-container.scroll {
    grid-template-columns: repeat(6, minmax(300px, 100%));
}

.cards-container.scroll::-webkit-scrollbar {
    height: 10px;
}

.cards-container.scroll::-webkit-scrollbar-track {
    background: #3737371C;
    border-radius: 10px;
    margin-right: 60vw;
    margin-left: 90px;
}

.cards-container.scroll::-webkit-scrollbar-thumb {
    background: #00614D33;
    border-radius: 10px;
}

section.facilities .image {
    position: relative;
}

section.facilities .image>.image-text {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 17px;
    color: #fff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00614D 100%);
    ;
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: default;
}

section.facilities .btn-scroll {
    margin: 0 5px;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr .5fr;
    grid-template-areas:
        "basic contact location location"
        "links links location location";
}

.details-basic {
    grid-area: basic;
    padding: 70px 38px 38px 90px;
    border-bottom: var(--border);
}

.details-basic>p {
    font-size: 14px;
    margin-top: 30px;
}

.details-contact {
    grid-area: contact;
    padding: 70px 38px 38px 0;
    border-bottom: var(--border);
    margin-top: auto;
}

.footer-links {
    grid-area: links;
    padding-left: 90px;
    border-bottom: var(--border);
    display: grid;
    place-content: center;
    align-items: center;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
}

.footer-location {
    grid-area: location;
    border-left: var(--border);
    border-bottom: var(--border);
    padding: 70px 90px;
    line-height: 1.5;
}

.footer-location>img {
    margin-top: 50px;
    max-width: 100%;
}

.details-contact>.btn-contact {
    display: flex;
    align-items: center;
    margin: 11px 0;
}

.btn-contact>.btn-text {
    margin: 0 12px;
    font-size: var(--clamp16);
}

.social-container {
    margin-top: 22px;
}

.social-container>.btn-social {
    margin-right: 23px;
}

.footer-bottom {
    padding: 30px 90px;
    color: var(--text-dark);
}

@media only screen and (max-width:1300px) {

    .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .6fr;
        grid-auto-flow: column;
        grid-template-areas:
            "basic contact"
            "location location"
            "links links"
        ;
    }

    section.about>.image-container {
        margin-right: 15px;
    }

    section.experience {
        flex-wrap: wrap;
        max-width: min-content;
        margin: -50px auto 50px;
        padding: 20px;
    }

    section.experience::before {
        height: 450px;
    }

    section.experience>.text-container {
        padding: 20px 0;
    }

}

@media only screen and (max-width:1000px) {

    section.hero .heroSlides .content {
        top: 26vh;
    }

    section.about {
        flex-direction: column;
        margin-top: -175px;
    }

    section.about>.image-container {
        margin-right: 0;
        gap: 1vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section.about>.image-container>.image {
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }

    section.about>.image-container img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    section.experience>.image-container>img {
        max-width: 100%;
    }

    section.experience>.image-container>.image-text {
        padding: 20px;
    }
}

@media only screen and (max-width:720px) {
    .cards-container.scroll {
        margin: 0 -20px;
        padding: 0 20px 20px;
    }

    .cards-container.scroll::-webkit-scrollbar {
        height: 0px;
    }

}

@media only screen and (max-width:550px) {

    .footer-top {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1.5fr .6fr;
        grid-auto-flow: column;
        grid-template-areas:
            "basic"
            "contact"
            "location"
            "links"
        ;
    }

    .footer-top>* {
        padding: 20px;
        border-right: none;
    }
}