@media only screen and (min-width:1500px) {

    body>* {
        max-width: 1500px;
        margin: auto;
    }

    section.experience,
    section.doctor {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:1300px) {
    .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr .6fr;
        grid-auto-flow: column;
        grid-template-areas:
            "basic contact"
            "location location"
            "links links"
        ;
    }

    .footer-top>*,
    .footer-bottom {
        padding: 20px;
    }

    section.experience {
        flex-wrap: wrap;
        max-width: min-content;
        margin: -50px auto 50px;
        padding: 20px;
    }

    section.experience::before {
        height: 450px;
    }

    section.experience>.text-container {
        padding: 20px 0;
    }

    .pages-container>.page {
        gap: 10px;
    }

}

@media only screen and (max-width:1000px) {
    header>nav.mobile {
        display: block;
    }

    header>nav.desktop {
        display: none;
    }

    .section-header>a.btn {
        max-width: min-content;
    }

    section.hero .mySlides .content {
        top: 26vh;
    }

    section.hero>.form-container {
        flex-wrap: wrap;
        min-width: 500px;
        width: 500px;
        transform: translateY(-80%);
    }

    section.hero>.form-container label::after {
        display: none;
    }

    section.hero>.form-container>.btn {
        margin: 10px;
    }

    section.hero h2 {
        font-size: max(26px, 4vw);
        line-height: max(28px, 5vw);
    }

    section.hero p {
        font-size: max(10px, 1.4vw);
        line-height: max(12px, 1.8vw);
    }

    section.about {
        flex-wrap: wrap;
        margin-top: -175px;
    }

    section.about>.image-container {
        gap: 2vw;
    }

    section.about>.image-container>.image {
        width: 100%;
        height: 100%;
    }

    section.about>.image-container img {
        width: 100%;
        height: 100%;
    }

    section.experience>.image-container>img {
        max-width: 100%;
    }

    section.experience>.image-container>.image-text {
        padding: 20px;
    }

    section.doctor {
        flex-wrap: wrap;
    }

    section.doctor>.doctor-container {
        margin-right: 0;
        z-index: 100;
    }

    section.doctor>img {
        width: 200px;
        margin-top: -100px;
        margin-left: auto;
    }
}

@media only screen and (max-width:720px) {
    header {
        top: -1px;
    }

    body>*,
    section.hero,
    section.about,
    section.doctor {
        padding: 20px;
    }

    section.hero {
        padding: 0 20px;
    }

    footer {
        padding: 0;
    }

    .cards-container {
        gap: 10px;
    }

    section.experience,
    section.doctor {
        margin: 20px;
    }

    .gallery-container {
        margin: 30px -20px;
        padding: 20px;
    }

    section.hero>.form-container {
        min-width: unset;
        max-width: 240px;
        padding: 20px 30px;
    }

    section.hero>.form-container>* {
        margin: 6px;
    }

    .pages-container>.page {
        grid-auto-flow: row;
    }

    .page>.testimonial {
        display: grid;
        grid-template-columns: .8fr 1.2fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "photo name"
            "text text"
        ;
        max-width: 70vw;
        margin-inline: auto;
        text-align: left;
    }

    .testimonial>.name {
        margin: auto;
    }

    .testimonial>.image>img {
        width: min(20vw, 100px);
    }

    .testimonial-container>.buttons-container {
        margin-bottom: -50px;
    }

    section.blogs>.cards-container {
        margin-top: 32px;
    }
}

@media only screen and (max-width:550px) {
    header .btn-text {
        display: none;
    }

    header a.btn>.btn-icon {
        margin: 0;
    }

    header a.btn>.btn-icon>img {
        width: 16px;
    }


    .footer-top {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 2fr .6fr;
        grid-auto-flow: column;
        grid-template-areas:
            "basic"
            "contact"
            "location"
            "links"
        ;
    }

    .footer-top>* {
        padding: 20px;
        border-right: none;
    }

    .cards-container {
        grid-auto-flow: row;
    }

    .card>.card-text {
        margin-bottom: 10px;
    }

    section.awards>.awards-container {
        padding: 20px;
    }

    section.awards>.awards-container>.award {
        margin: auto;
    }
}