@media only screen and (min-width:1500px) {

    body>* {
        max-width: 1500px;
        margin: auto;
    }

    section.experience,
    section.doctor {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:1300px) {

    .general .footer-top {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr .1fr 1;
        grid-auto-flow: column;
        grid-template-areas:
            "basic basic contact"
            "location location"
            "links links"
        ;
    }

    .footer-top>*,
    .footer-bottom {
        padding: 20px;
    }

    .pages-container>.page {
        gap: 10px;
    }

    .cottage-card>.card-content {
        grid-template-columns: 1fr .1fr;
        grid-template-rows: .5fr .7fr 1fr .5fr .7fr 1fr;
        grid-template-areas:
            "name type"
            "address address"
            "desc desc"
            "amneties amneties"
            "price price"
            "buttons buttons";
    }
}

@media only screen and (max-width:1000px) {
    header>nav.mobile {
        display: block;
    }

    header>nav.desktop {
        display: none;
    }

    .section-header>a.btn {
        max-width: min-content;
    }

    section>.search-container {
        flex-wrap: wrap;
        min-width: 500px;
        width: 500px;
        transform: translateY(-80%);
    }

    section>.search-container label::after {
        display: none;
    }

    section>.search-container>.btn {
        margin: 10px;
    }

    section.hero h2 {
        font-size: max(26px, 4vw);
        line-height: max(28px, 5vw);
    }

    section.hero p {
        font-size: max(10px, 1.4vw);
        line-height: max(12px, 1.8vw);
    }

    section.doctor {
        flex-wrap: wrap;
        overflow: hidden;
    }

    section.doctor>.doctor-container {
        margin-right: 0;
        z-index: 100;
    }

    section.doctor>img {
        width: 200px;
        margin: -50px -20px -70px auto ;
    }
    
    section.cards-container {
        display: block;
    }

    section.cards-container>.card {
        padding: clamp(26px, 3vw, 35px);
        margin: 20px 0;
    }

    section.cards-container>.card>.card-icon {
        float: left;
        margin: 10px 20px 10px 0;
    }

    section.cards-container>.card>.card-icon:first-of-type {
        margin-bottom: 0;
    }

    .general .footer-top {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr .1fr 1;
        grid-auto-flow: column;
        grid-template-areas:
            "basic basic"
            "location contact"
            "links links"
        ;
    }

    .general .details-contact {
        padding: 20px 90px 0 20px;
    }

    .general .footer-location {
        padding: 20px 0 0 90px;
    }
}

@media only screen and (max-width:720px) {
    header {
        top: -1px;
    }

    body>*,
    section.hero,
    section.about,
    section.doctor,
    section.page-hero,
    section.page-title {
        padding: 20px;
    }

    section.hero {
        padding: 0 20px;
    }

    footer {
        padding: 0;
    }

    .dots {
        overflow: hidden;
    }

    .cards-container {
        gap: 10px;
    }

    section.experience,
    section.healing,
    section.doctor {
        margin: 20px;
    }

    section.healing {
        padding: 20px;
    }

    .gallery-container {
        margin: 30px -20px;
        padding: 20px;
    }

    section>.search-container {
        min-width: unset;
        max-width: 240px;
        padding: 20px 30px;
    }

    section>.search-container>* {
        margin: 6px;
        flex: 1;
    }

    .pages-container>.page {
        grid-auto-flow: row;
    }

    .page>.testimonial {
        display: grid;
        grid-template-columns: .8fr 1.2fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "photo name"
            "text text"
        ;
        max-width: 70vw;
        margin-inline: auto;
        text-align: left;
    }

    .testimonial>.name {
        margin: auto;
    }

    .testimonial>.image>img {
        width: min(20vw, 100px);
    }

    .testimonial-container>.buttons-container {
        margin-bottom: -50px;
    }

    section.blogs>.cards-container {
        margin-top: 32px;
    }

    section.gallery-container {
        margin: 0px auto 0;
        padding-top: 5px;
    }

    .gallery-container>.btn-scroll {
        opacity: 0;
        pointer-events: none;
    }

    .general .footer-top {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .6fr 1fr .6fr;
        grid-auto-flow: column;
        grid-template-areas:
            "basic"
            "location"
            "contact"
            "links"
        ;
    }

    .general .details-basic {
        display: grid;
        padding: 20px;
    }

    .general .details-basic>p {
        margin: 0;
    }

    .general .footer-top>*,
    .general .footer-bottom {
        padding: 20px;
    }
}

@media only screen and (max-width:550px) {
    header .btn {
        padding: 8px 10px;
    }

    header .btn-text {
        display: none;
    }

    header a.btn>.btn-icon {
        margin: 0;
    }

    header a.btn>.btn-icon>img {
        height: 12px;
    }

    .cards-container {
        grid-auto-flow: row;
    }

    .cards-container>.card {
        margin: 10px 0;
    }

    .card>.card-text {
        margin-bottom: 10px;
    }

    .card-wide {
        flex-direction: column;
    }

    .card-wide>.card-image {
        height: 200px;
        width: 100%;
        padding: 20px 20px 0;
    }

    .card-wide>.card-image>img {
        height: 200px;
        width: 100%;
    }

    section.awards>.awards-container {
        padding: 20px;
    }

    section.awards>.awards-container>.award {
        margin: auto;
    }

    .cottage-card>.card-image {
        max-height: 200px;
    }
}